<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy Alpha blog by <span>Fernando</span>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path%></li>
			</ul>
		</nav>
	</footer>
</div>